version: 2.1

orbs:
  common: aurelia/common@volatile
  v1: aurelia/v1@volatile

jobs:
  e2e:
    executor: common/docker_circleci
    steps:
      - checkout
      - common/configure_git
      - common/setup_verdaccio
      - v1/install_build_test_gulp
      - common/npm_publish
      - v1/install_run_e2e_tests

workflows:
  build_test:
    jobs:
      - e2e
