version: 2.1

orbs:
  v1: aurelia/v1@volatile

workflows:
  main:
    jobs:
      - v1/build_test
      - v1/build_merge:
          requires:
            - v1/build_test
          filters:
            branches:
              only:
                - develop
