version: 2.1

orbs:
  v1: aurelia/v1@0.0.1

jobs:
  e2e:
    executor: v1/docker_circleci
    steps:
      - run:
          name: "git config"
          command: |
            git config --global user.email "aurelia@bluespire.com"
            git config --global user.name "AureliaEffect"
            git config --global core.mergeoptions --no-edit
      - run: sudo npm i -g verdaccio
      - checkout
      - v1/install_build_test_gulp
      - run:
          name: "verdaccio"
          background: true
          command: verdaccio
      - run:
          name: "npm config"
          command: |
            echo "//localhost:4873/:_password=aurelia" > ~/.npmrc
            echo "//localhost:4873/:username=AureliaEffect" >> ~/.npmrc
            echo "//localhost:4873/:email=aurelia@bluespire.com" >> ~/.npmrc
      - run:
          name: "npm publish local"
          command: npm publish --registry http://localhost:4873


workflows:
  build_test:
    jobs:
      - e2e
