version: 2.1

orbs:
  v1: aurelia/v1@0.0.1

jobs:
  e2e:
    executor: v1/docker_circleci
    steps:
      - run: sudo npm i -g verdaccio
      - checkout
      - v1/install_build_test_gulp


workflows:
  build_test:
    jobs:
      - e2e
